
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Heading and Text styles */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.mid-heading {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

.small-heading {
  font-weight: 800;
  font-size: 1.6rem;
}

.text-style {
  color: #8f8f8f;
  font-weight: 500;
}

.container-fluid {
  padding: 7% 15%;
}

/* section colors */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

#press.colored-section, #testimonials.colored-section {
  background-color: #ef8172;
}

/* Title section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Nav Bar */
.brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.navBarItem {
  padding: 0 18px;
}

.navBarLink {
  font-size: 1.2rem;
  font-weight: 300;
}


/* Title Intro */

.titleIntro {
  padding-top: 5%;
}

.download-btn {
  margin: 5% 3% 3% 0;
}

.iphone6Img {
  position: absolute;
  width: 21%;
  right: 25%;
  transform: rotate(25deg);
}

@media (max-width: 967px) {
  .iphone6Img {
    position: static;
    width: 51%;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

/* Features */
#features {
  position: relative;
}

.featureIcon {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 5%;
}

.featureIcon:hover {
  color: #ff4c68;
}

.featureText {
  padding-bottom: 15%;
}

.featureBox {
  padding: 5% 3%;
}

/* Testimonials */
.testimonialsImg {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press {
  padding-bottom: 3%;
}

.pressImg {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}


/* Call to action section */
#cta {
  padding: 7% 10%;
}

.ctaTitle {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */
.footerIcons {
  padding: 0 0.5% 2%;
}
